
main {
    background-color: white;
    font-family: 'Open Sans';
    width: vw;
    height: vh;
    margin: 10px;
}

/* cabeçalho: menu */

header {
    width: 1280px;
    height: 122px;
    border: solid 1px wheat;
}

.section01 {
    display: flex;
    justify-content: center;
    align-content:space-around
}

#logo01 {
    width: 209px;
    height: 104px;
    position: absolute;
    width: 209px;
    height: 104px;
    left: 19px;
    top: 18px;
}

h3 {
    Width: 269px;
    Height: 34px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 33px;
    color: #777777;
}

.alinhamento-menu {
    display: flex;
    justify-content: center;
    
}


#opção01 {
    position: relative;
    top: 30%;
    left: 170%;
}

#opção02 {
    position: relative;
    top: 30%;
    left: 180%;
}

#opção03 {
    position: relative;
    top: 30%;
    left: 140%;
}

/* banner */

.banner {
    Width: 1280px;
    Height: 235px;
    border: solid 1px red;
}

/* anuncios 01 */

.box {
    width: 1280px;
    height: 1100px;
    border: solid 1px green;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 82px;
}

#titulo01 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anuncio01 {
    display: flex;
    justify-content: center;
}

#img01 {
    position: relative;
    top: 12%;
    right: 15%;
}

#img02 {
    position: relative;
    left: 15%;
}


/* carrossel */

.section02 {
    background-color: #C2185B;
    Width: 1280px;
    Height: 662px;
    border: solid 1px yellow;
}

.posicionamento-carrossel {
    display: flex;
    justify-content: space-evenly;
    align-self:flex-end;   
}
    

h1 {
    color: white;
    font-family: "Open Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;

    position: absolute;
    width: 188px;
    height: 60px;
    left: 546px;
    top: 1530px;
}

.produto1 {
    background-color: white;
    background-image: url("img/shoes1.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 388px;
}

p {
    font-family: "Open Sans";
    font-size: 16px;
    color: black;
    font-weight: 600;
    font-style: normal;
}

#produto1 {
    position: relative;
    top: 82%;
    left: 5%;
}

.produto2 {
    background-color: white;
    background-image: url("img/shoes2.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 388px;
}

#produto2 {
    position: relative;
    top: 82%;
    left: 5%;
}

.produto3 {
    background-color: white;
    background-image: url("img/shoes3.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 388px;
}

#produto3 {
    position: relative;
    top: 82%;
    left: 5%;
}


.produto4 {
    background-color: white;
    background-image: url("img/shoes4.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 388px;
}

#produto4 {
    position: relative;
    top: 82%;
    left: 5%;
}