
main {
    background-color: white;
    font-family: 'Open Sans';
    width: 100vw;
    height: 100vh;
    margin: 10px;
}

/* cabeçalho: menu */

header {
    width: 1280px;
    height: 122px;
}

.section01 {
    display: flex;
    justify-content: center;
    align-content:space-around
}

#logo01 {
    width: 209px;
    height: 104px;
    position: absolute;
    width: 209px;
    height: 104px;
    left: 19px;
    top: 18px;
}

h3 {
    Width: 269px;
    Height: 34px;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 33px;
    color: #777777;
}

.alinhamento-menu {
    display: flex;
    justify-content: center;
    
}


#opção01 {
    position: relative;
    top: 30%;
    left: 170%;
}

#opção02 {
    position: relative;
    top: 30%;
    left: 180%;
}

#opção03 {
    position: relative;
    top: 30%;
    left: 140%;
}

/* banner */

.banner {
    Width: 1280px;
    Height: 235px;
}

/* anuncios 01 */

.box {
    width: 1280px;
    height: 1100px;
}

h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 82px;
}

#titulo01 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.anuncio01 {
    display: flex;
    justify-content: center;
}

#img01 {
    position: relative;
    top: 12%;
    right: 15%;
}

#img02 {
    position: relative;
    left: 15%;
}


/* carrossel */

.section02 {
    background-color: #C2185B;
    Width: 1280px;
    Height: 662px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posicionamento-carrossel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;    
}
    

h1 {
    color: white;
    font-family: "Open Sans";
    font-size: 44px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px;

    position: absolute;
    width: 188px;
    height: 60px;
    left: 546px;
    top: 1505px;
}

.produto1 {
    background-color: white;
    background-image: url("img/shoes1.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 388px;
    position: relative;
    right: 5%;
}

p {
    font-family: "Open Sans";
    font-size: 16px;
    color: black;
    font-weight: 600;
    font-style: normal;
}

#produto1 {
    position: relative;
    top: 82%;
    left: 5%;
}

.produto2 {
    background-color: white;
    background-image: url("img/shoes2.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 388px;
    position: relative;
    right: 1.5%;
}

#produto2 {
    position: relative;
    top: 82%;
    left: 5%;
}

.produto3 {
    background-color: white;
    background-image: url("img/shoes3.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 388px;
    position: relative;
    left: 1.5%;
}

#produto3 {
    position: relative;
    top: 82%;
    left: 5%;
}


.produto4 {
    background-color: white;
    background-image: url("img/shoes4.png");
    background-repeat: no-repeat;
    width: 260px;
    height: 388px;
    position: relative;
    left: 5%;
}

#produto4 {
    position: relative;
    top: 82%;
    left: 5%;
}

/* Anuncios 02 */

.section03 {
    width: 1280px;
    height: 1400px;
}

h6 {
    position: absolute;
    width: 585px;
    height: 144px;
    left: 127px;
    top: 2300px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 39px;
    line-height: 53px;

    color: #000000;

}

.button {
    position: absolute;
    width: 403px;
    height: 99px;
    left: 127px;
    top: 2531px;
    background-color: #C2185B;
    
}
 
#button {
    font-family: "Open Sans";
    font-size: 39px;
    color: white;
    font-style: normal;
    font-weight: 600;
    position: absolute;
    top: 20%;
    right: 20%;
}

a {
    color: inherit;
}

.anuncios02 {

}

#photoshoot3 {
    position: absolute;
    width: 513px;
    height: 663px;
    left: 127px;
    top: 2655px;
}

#photoshoot4 {
    position: absolute;
    width: 507px;
    height: 939px;
    left: 668px;
    top: 2379px;
}

/* footer */

footer {
    position: absolute;
    width: 1280px;
    height: 248px;
    left: 20px;
    top: 3434px;
    background-color: #C2185B;
    
}

h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #FFFFFF;
}

h5 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-01 {
    display: flex;
    flex-direction: column;
    justify-content:left; 
    
}

#logobranca {
    width: 233px;
    height: 123px;
    position: absolute;
    bottom: 40%;
    left: 10%;
}

#paragrafo01 {
    width: 255px;
    height: 91px;
    position: absolute;
    bottom: 18%;
    left: 10%;    
}

#categoria01 {
    position: absolute;
    top:10%;
}

#categoria02{
    position: absolute;
    top: 10%;

}

/* config cliques categorias */

h5:hover {
    color: #000000;
}

h5:visited {
    color:#777777;
}

h5:active {
    color: lightpink;
}